@inherits LayoutComponentBase

<div class="page ">
    <div class="sidebar border-end">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="background-color:rgba(249,250,251,255)">
            @Body
        </article>
    </main>
</div>
