
<div class="border-end" style="margin-top:10px">
    <div class="text-center" >
        <img src="https://www.agenciaeplus.com.br/wp-content/uploads/2022/04/brand-persona.jpg" class="rounded-circle" alt="Marcelino Colón" style="width: 300px">
    </div>
</div>

@code {
  
}
